overflow-bar {
    width: 300px;
    margin: var(--padding);
}

tab-sheet {
    width: 300px;
    margin: var(--padding);
    border: var(--border);
}

button {
    height: 2.5rem;
}

[data-display="icons"] button {
    font-family: crsfrw;
    width: 2.5rem;
}