<style>
    :host {
        --cl-selected: white;
        --width: 0;
        --height: 0;
        display: flex;
        background: var(--cl-panel);
        border-radius: var(--radius);
        width: max-content;
        height: max-content;
        box-sizing: border-box;
        padding: var(--padding);
        position: relative;
    }

    ::slotted(button) {
        border: 0 !important;
        outline: none !important;
        background: transparent !important;
        border-radius: var(--radius);
    }

    ::slotted([aria-selected="true"]) {
        color: var(--cl-focus-dark);
        font-weight: bold;
    }

    .marker {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: var(--radius);
        background: var(--cl-selected);
        height: var(--height);
        width: var(--width);
        filter: var(--drop-shadow);
    }

    .parent {
        z-index: 1;
    }

</style>

<div class="marker"></div>
<div class="parent"><slot></slot></div>
