<style>
    :host {
        --cl-selected-bg: white;
        --cl-selected-fg: var(--blue);
        --width: 0;
        --height: 0;

        display: flex;
        background: var(--grey-surface);
        border-radius: var(--radius);
        width: max-content;
        height: max-content;
        box-sizing: border-box;
        padding: var(--padding);
        position: relative;
        user-select: none;
        border: var(--border);
        border-radius: var(--radius);
    }

    ::slotted(button) {
        border: 0 !important;
        outline: none !important;
        background: transparent !important;
    }

    ::slotted(button:active) {
        color: var(--blue) !important;
    }

    ::slotted([aria-selected="true"]) {
        background: var(--cl-selected-bg);
        color: var(--cl-selected-fg);
        font-weight: bold;
    }

    .marker {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: var(--radius);
        background: var(--cl-primary-alt);
        height: var(--height);
        width: var(--width);
        filter: var(--drop-shadow);
    }

    .parent {
        z-index: 1;
    }
</style>

<div class="marker"></div>
<div class="parent"><slot></slot></div>
