:host {
    display: block;
    border: silver solid 1px;
    position: relative;
}

canvas, .scroller {
    position: absolute;
    left: 0;
    top: 0;

    display: block;
    margin: 0 auto;
}

.scroller {
    overflow: auto;
}

.marker {
    position: absolute;
    width: 1px;
    height: 1px;
}