:host {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: max-content 1fr;
    user-select: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 var(--padding);
    border-bottom: var(--border);
    padding: var(--padding);
}

header label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.spacer {
    border-right: var(--border);
    width: 1px;
    height: 100%;
    margin: 0 var(--padding);
}

#btnCollapseAll, #btnSorting {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

#btnCollapseAll {
    color: var(--blue);
}

#btnSorting {
    font-family: crsfrw;
    font-size: 1.5rem;
}

.entity {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--padding);
    border-bottom: var(--border);
    position: sticky;
    top: 0;
    background: var(--window);
    z-index: 1;
}

.entity-value {
    flex: 1;
    pointer-events: none;
}

.count {
    display: flex;
    flex-direction: row;
    padding: var(--padding);
    background: var(--blue-s2);
    color: var(--blue);
    border-radius: var(--radius);
    font-weight: bold;
    pointer-events: none;
}

.count:before {
    content: "Count";
    font-weight: normal;
    display: block;
    margin-right: var(--padding);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.entity-child-item {
    cursor: pointer;
}

.entity-child-item > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--window);
    position: sticky;
    top: 3.3rem;
    padding: var(--padding);
    margin-left: 1rem;
}

.entity-child-item .description, .rule-item .description {
    flex: 1
}

.status {
    font-family: crsfrw;
    font-size: 1.2rem;
    margin-right: var(--padding);
    display: flex;
    align-items: center;
}

.entity-child-item[aria-expanded="false"] ul {
    display: none;
}

.rule-item {
    display: flex;
    flex-direction: row;
    border-radius: var(--radius);
    background: var(--grey-s3);
    cursor: pointer;
    padding: var(--padding);
    margin-left: 4rem;
    margin-bottom: 0.5rem;
    align-items: center;
    border-radius: var(--radius);
}

.chevron {
    font-family: crsfrw;
    font-size: 1.2rem;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    margin-right: var(--padding);
}

li[aria-expanded="true"] > div > .chevron {
    transform: rotate(90deg);
}

.value {
    font-weight: bold;
    margin-right: var(--padding);
}

.value:before {
    content: "["
}

.value:after {
    content: "]"
}