<header>
    <button id="btnCollapseAll" data-action="collapseAll">&{entityDetails.collapseAll}</button>
    <div class="spacer"></div>
    <button id="btnSorting" class="icon" data-action="sort">sort-ascending</button>
    <label>
        <input type="checkbox" value="checked">
        <div>&{entityDetails.showIds}</div>
    </label>
</header>

<template id="entity-template">
    <li class="entity-item" data-id="" aria-expanded="false">
        <div class="entity">
            <div class="entity-chevron" data-action="expand">chevron-right</div>
            <div class="entity-value"></div>
            <div class="entity-count"></div>
        </div>
        <ul></ul>
    </li>
</template>

<template id="entity-item-template">
    <li class="entity-child-item">
        <div>
            <div class="value"></div>
            <div class="description"></div>
        </div>

        <ul></ul>
    </li>
</template>

<template id="rule-item-template">
    <li class="rule-item">
        <div class="value"></div>
        <div class="description"></div>
    </li>
</template>

<div class="container">
    <ul class="items"></ul>
</div>