{
    admin off
}

localhost {
    header {
        Cache-Control "no-cache, no-store, must-revalidate"
    }
    encode zstd gzip

    handle /framework/* {
        uri strip_prefix /framework
        file_server browse
    }

    handle {
        respond "Access Denied" 403
    }
}