<div class="measurement-info">
    <h2 id="tooltip-header">${description}</h2>
    <div class=measurement-info-container>
        <div class="measurement-info-border-bottom">
            <h3 id="measures-title" class="sub-header">${slaMeasureLabel}</h3>
            <span class="label-container measurement-info-padding no-top-padding">
                 <h3 class="info-label">${startLabel}</h3>
                 <h3 data-id="startStatus" class="measurement-content">${startStatus}</h3>
            </span>
            <span class="label-container">
                 <h3 class="info-label">${endLabel}</h3>
                 <h3 data-id="endStatus" class="measurement-content">${endStatus}</h3>
            </span>

            <span class="label-container measurement-info-padding">
                  <h3 class="info-label">${durationLabel}</h3>
                  <h3 data-id="duration" class="measurement-content">${duration}</h3>
            </span>
            <span class="label-container measurement-info-padding no-top-padding">
                  <h3 class="info-label">${progressLabel}</h3>
                  <h3 data-id="progress" class="measurement-content">${progress}</h3>
            </span>
        </div>
        <div id="triggers-container">
            <span class="label-container">
                <h3 id="triggers-title" class="info-label sub-header">${triggerLabel}</h3>
                <h3 data-id="numberOfTriggers" class="measurement-content">${numberOfTriggers}</h3>
            </span>
            <span data-id="trigger-data"></span>
        </div>
    </div>
</div>