<div class="measurement-info">
    <h2>${code}</h2>
    <div class=measurement-info-container>
        <span class="label-container measurement-info-padding">
             <h3 class="info-label">${startLabel}</h3>
             <h3 data-id="startStatus" class="measurement-content">${startStatus}</h3>
        </span>
        <span class="label-container measurement-info-border-bottom">
             <h3 class="info-label">${endLabel}</h3>
             <h3 data-id="endStatus" class="measurement-content">${endStatus}</h3>
        </span>

        <span class="label-container measurement-info-padding">
              <h3 class="info-label">${durationLabel}</h3>
              <h3 data-id="duration" class="measurement-content">${duration}</h3>
        </span>
        <span class="label-container measurement-info-border-bottom">
              <h3 class="info-label">${progressLabel}</h3>
              <h3 data-id="progress" class="measurement-content">${progress}</h3>
        </span>

        <span class="label-container measurement-info-padding">
              <h3 class="info-label">${triggerLabel}</h3>
              <h3 data-id="trigger" class="measurement-content">${trigger}</h3>
        </span>
        <span class="label-container">
              <h3 class="info-label">${triggerDescriptionLabel}</h3>
              <h3 data-id="triggerDescription" class="measurement-content">${triggerDescription}</h3>
        </span>
    </div>
</div>