group-box-widget {
    display: block;
}

group-box-widget[aria-expanded="false"] .group-box-body {
    display: none;
}

group-box-widget[aria-expanded="false"] svg {
    transition: transform 0.3s;
    transform: rotate(90deg);
}

group-box-widget .group-box-header {
    padding: 0.5rem;
    background: var(--grey-s2);
    display: flex;
    align-items: center;
}

group-box-widget .group-box-body {
    padding: 0.5rem;
    border: silver dashed 1px;
}

group-box-widget svg {
    cursor: pointer;
}

group-box-widget svg * {
    pointer-events: none;
}