<style>
    :host {
        --icon-font: "";

        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: transparent;
        z-index: 999999;
    }

    .back {
        width: 100%;
        height: 100%;
    }

    .popup {
        margin: 0;
        border: var(--border);
        background: var(--cl-panel);
        filter: var(--drop-shadow);
        width: max-content;
        height: max-content;
        min-width: 200px;
        min-height: 300px;
        border-radius: var(--radius);
        display: grid;
        grid-template-rows: auto 1fr;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        background: var(--cl-window);
    }

    hr {
        border: var(--border);
    }

    li {
        padding: 0.5rem;
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;
    }

    li[hidden] {
        display: none;
    }

    li:hover {
        background: var(--cl-li-hover)
    }

    li[data-icon]::before {
        content: attr(data-icon);
        font-family: var(--icon-font);
        font-size: 1.5rem;
        margin-right: var(--padding);
    }
</style>

<div class="back"></div>

<div class="popup">
    <filter-header for="ul" close.call="close"></filter-header>

    <ul>
        <li id="item1" data-icon="approved" data-tags="approved">Approved</li>
        <li id="item2" data-icon="browse" data-tags="browse">Browse</li>
        <li id="item3" data-icon="calendar" data-tags="calendar">Calendar</li>
        <hr/>
        <li id="item4" data-icon="condition" data-tags="condition">Condition</li>
        <li id="item5" data-icon="date-time" data-tags="date time">Date Time</li>
        <li id="item6" data-icon="lookup" data-tags="lookup">Lookup</li>
    </ul>
</div>
