<style>
    @import "/styles/lib/narrow-scrollbar.css";
    :host {
        --icon-font: "";
        --height: 100%;
        --border-bottom-radius: 0 0 0.25rem 0.25rem;

        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 4.5rem 2rem;
        z-index: 999999;
        user-select: none;
        background: #00000030;
    }

    .back {
        width: 100%;
        height: 100%;
        background: var(--grey);
        opacity: 0.25;
        position: absolute;
    }

    .popup {
        width: 100%;
        height: 100%;
        border-radius: var(--radius);
        overflow: hidden;
    }

    ul, .popup,
    #no-result-header{
        margin: 0;
    }

    ul {
        list-style: none;
        border-radius: 0 0 0.5rem 0.5rem;
        overflow-y: visible;
        border-top: none;
        border-bottom: var(--border);
        border-left: var(--border);
        border-right: var(--border);
    }

    ul, #btnBack {
        padding: 0;
    }

    ul, ul[data-no-content="true"] ~ .no-content {
        background: var(--window);
    }


    ul, li {
        position: relative;
    }

    hr {
        border: var(--border);
    }

    li {
        --cl-icon: black;
        padding: 0.5rem;
        cursor: pointer;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    li, .parent-menu-item:after,
    .toolbar, ul[data-no-content="true"] ~ .no-content {
        display: flex;
    }

    li, .parent-menu-item:after,
    .toolbar {
        align-items: center;
    }

    li > *:not(ul) {
        pointer-events: none;
    }

    li[hidden], .submenu,
    .no-content, #span-border[data-visible = "false"],
    #btnBack[data-visible = "false"] {
        display: none;
    }

    li[data-icon]::before {
        content: attr(data-icon);
        font-family: var(--icon-font);
        font-size: 1.5rem;
        margin-right: var(--padding);
        color: var(--cl-icon);
    }

    li:not(li[data-icon]) {
        padding-left: var(--margin);
    }

    li[aria-selected="true"]::after {
        content: "check";
        font-family: crsfrw;
        position: absolute;
        right: 8px;
        color: var(--blue);
    }

    [aria-hidden="true"] {
        display: none !important;
    }

    filter-header {
        --close-display: inline-block;
        border-radius: 0.25rem 0.25rem 0 0;
    }

    .submenu {
        position: absolute;
        top: 0;
        left:0;
        right: 0;
        bottom: 0;
        border: var(--border);
    }

    .parent-menu-item[aria-expanded="true"] > .submenu {
        display: block;
        z-index: 1;
        height: max-content;
    }

    .parent-menu-item[aria-expanded="true"] > .submenu,
    #btnBack {
        border: none;
    }

    .parent-menu-item:after {
        font-family: var(--icon-font);
        font-size: 1.5rem;
        content: "chevron-right";
        position: absolute;
        right: var(--padding);
        top: 0;
        height: 100%;
        justify-content: center;
    }

    #btnBack {
        font-family: var(--icon-font);
        font-size: 1.25rem;
        height: 2.5rem;
        width: 2.5rem;
        border-right: none;
        border-top-left-radius: var(--radius);
        background: transparent;
    }

    .toolbar {
        flex-direction: row;
        height: 2.5rem;
        border: var(--border);
        box-sizing: border-box;
        border-radius: 0.25rem 0.25rem 0 0;
        background: var(--grey-surface)
    }

    #span-border {
        width: 0.0625rem;
        height: 2rem;
        background: var(--grey-s2);
    }

    #span-border[data-visible = "true"],
    #btnBack[data-visible = "true"] {
        display: inline;
    }

    .popup[data-resize-popup="false"] {
        height: max-content;
    }

    .popup[data-resize-popup="true"] {
        max-height: calc(100% - 4.5rem);
    }

    #no-result-header {
        font-size: 1rem;
        color: var(--grey-s1);
    }

    #no-result-info {
        font-size: 1rem;
        color: var(--grey-s1);
        margin: 0.25rem 0.25rem 0.25rem 0;
    }

    ul[data-no-content="true"] ~ .no-content {
        flex-direction: column;
        padding: 0.5rem;
        border-top: 0.125rem solid var(--blue);
        border-radius: var(--border-bottom-radius);
    }

    #group-header {
        padding-left: 0.5rem;
        font-weight: bold;
    }

    ul.child-expanded > li:not([aria-expanded="true"]){
        display: none;
    }

    #ul-container.hierarchy {
        overflow: auto;
        max-height: 100%;
    }
    #ul-container.child-expanded {
        overflow: unset;
        height: auto;
    }
</style>

<div class="popup" ref="popup">
    <div class="toolbar">
        <button id="btnBack" ref="btnBack" data-visible = "false">arrow-left</button>
        <span id="span-border" ref="spanBorder" data-visible = "false"></span>
        <filter-header id="filter-header" for="ul"></filter-header>
        <span id="group-header" aria-hidden="true" ref="groupHeader"></span>
    </div>
    <ul id="ul-container" ref="container" role="menu" tabindex="0" class="narrow-scrollbar" data-closable="true"></ul>
    <div class="no-content">
        <h2 id="no-result-header" ref="noResults">&{contextMenu.noResultsFound}</h2>
        <p id="no-result-info" ref="noInfo">&{contextMenu.tryADifferentSearchTerm}</p>
    </div>
</div>