<style>
    :host {
        --icon-font: "";
        --height: max-content;

        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: transparent;
        z-index: 999999;
        user-select: none;
    }

    .back {
        width: 100%;
        height: 100%;
    }

    .popup {
        margin: 0;
        border: var(--border);
        background: var(--grey-surface);
        filter: var(--drop-shadow);
        width: max-content;
        height: var(--height);
        min-width: 200px;
        min-height: 300px;
        border-radius: var(--radius);
        display: grid;
        grid-template-rows: auto 1fr;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        background: var(--window);
        overflow: auto;
    }

    hr {
        border: var(--border);
    }

    li {
        --cl-icon: black;
        padding: 0.5rem;
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;
    }

    li[hidden] {
        display: none;
    }

    li:hover {
        background: var(--cl-li-hover)
    }

    li[data-icon]::before {
        content: attr(data-icon);
        font-family: var(--icon-font);
        font-size: 1.5rem;
        margin-right: var(--padding);
        color: var(--cl-icon);
    }

    li[aria-selected="true"]::after {
        content: "checkmark";
        font-family: crsfrw;
        position: absolute;
        right: 8px;
        color: var(--blue);
    }

    [aria-hidden="true"] {
        display: none !important;
    }

    #resize {
        position: absolute;
        bottom: 0;
        right: 0;
        fill: gray;
        cursor: nwse-resize;
    }

    ul::-webkit-scrollbar-track {
        padding: 0.25rem 0;
        background-color: transparent;
    }

    ul::-webkit-scrollbar {
        width: 0.25rem;
    }

    ul::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        box-shadow: inset 0 0 5px var(--grey-s1);
        background-color: transparent;
    }

    #symbols {
        display: none;
    }

    filter-header {
        --close-display: inline-block;
    }
</style>

<svg id="symbols">
    <symbol id="resize-handle" viewBox="0 0 32 32">
        <path d="M28.744 6.016c0.766-0.766 0.766-2.008 0-2.774s-2.008-0.766-2.774 0l-22.728 22.728c-0.766 0.766-0.766 2.008 0 2.774s2.008 0.766 2.774 0l22.728-22.728z"></path>
        <path d="M28.759 21.332c0.766-0.766 0.766-2.008 0-2.774s-2.008-0.766-2.774 0l-7.427 7.427c-0.766 0.766-0.766 2.008 0 2.774s2.008 0.766 2.774 0l7.427-7.427z"></path>
    </symbol>
</svg>

<div class="back"></div>

<div class="popup" ref="popup">
    <filter-header for="ul" close.call="close" focus-out.call="focus"></filter-header>
    <ul ref="container" role="menu" tabindex="0" class="scrollbar"></ul>
    <svg id="resize" width="16" height="16">
        <use href="#resize-handle"></use>
    </svg>
</div>
