<style>
    @import "/styles/lib/narrow-scrollbar.css";
    :host {
        --icon-font: "";
        --height: 100%;

        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 999999;
        user-select: none;
    }

    .back {
        width: 100%;
        height: 100%;
        background: #000000;
        opacity: 0.25;
        position: absolute;
    }

    .popup {
        position: absolute;
        bottom: 72px;
        margin: 0;
        top: 5rem;
        border: var(--border);
        background: var(--grey-surface);
        display: grid;
        grid-template-rows: auto 1fr;
        width: 20rem;
        border-radius: var(--radius);
        z-index: 1;
    }

    ul {
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
        background: var(--window);
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    ul[role="menu"] {
        overflow: auto;
    }

    hr {
        border: var(--border);
    }

    li {
        --cl-icon: black;
        padding: 0.5rem;
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    li > *:not(ul) {
        pointer-events: none;
    }

    li[hidden],
    #span-border {
        display: none;
    }

    li:hover {
        background: var(--cl-li-hover)
    }

    li[data-icon]::before {
        content: attr(data-icon);
        font-family: var(--icon-font);
        font-size: 1.5rem;
        margin-right: var(--padding);
        color: var(--cl-icon);
    }

    li:not(li[data-icon]) {
        padding-left: var(--margin);
    }

    li[aria-selected="true"]::after {
        content: "check";
        font-family: crsfrw;
        position: absolute;
        right: 8px;
        color: var(--blue);
    }

    [aria-hidden="true"] {
        display: none !important;
    }

    filter-header {
        --close-display: inline-block;
    }

    .submenu {
        position: absolute;
        top: 0;
        left:0;
        right: 0;
        bottom: 0;
        display: none;
        border: var(--border);
    }

    .parent-menu-item[aria-expanded="true"] > .submenu {
        display: block;
        z-index: 1;
        width: 20rem;
        height: max-content;
        border: none;
    }

    .parent-menu-item[aria-expanded="true"] > .submenu > li {
        width: 19rem;
    }

    .parent-menu-item:after {
        font-family: var(--icon-font);
        font-size: 1.5rem;
        content: "chevron-right";
        position: absolute;
        right: var(--padding);
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #btnBack {
        font-family: var(--icon-font);
        font-size: 1.25rem;
        height: 2.5rem;
        width: 2.5rem;
        padding: 0;
        display: none;
        border: none;
        border-right: none;
        border-top-left-radius: var(--radius);
        background: transparent;
    }

    #btnBack.visible {
        display: block;
    }

    .toolbar {
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 2.5rem;
        border-bottom: var(--border);
        box-sizing: border-box;
    }

    .no-overflow {
        overflow: hidden!important;
    }

    #span-border {
        width: 0.0625rem;
        height: 1.875rem;
        background: var(--grey-s2);
    }

    #span-border.visible {
        display: inline;
    }

    .max-height {
        height: max-content;
    }

    .calc-height {
        max-height: calc(100% - 72px);
    }

</style>


<div class="back"></div>
<div class="popup" ref="popup">
    <div class="toolbar">
        <button id="btnBack" ref="btnBack">arrow-left</button>
        <span id="span-border" ref="spanBorder"></span>
        <filter-header for="ul"></filter-header>
    </div>
    <ul ref="container" role="menu" tabindex="0" class="narrow-scrollbar"></ul>
</div>