<style>
    @import "/styles/lib/narrow-scrollbar.css";
    :host {
        --icon-font: "";
        --height: max-content;

        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: transparent;
        z-index: 999999;
        user-select: none;
        width: max-content;
        height: max-content;
    }

    .back {
        width: 100%;
        height: 100%;
    }

    .popup {
        margin: 0;
        border: var(--border);
        background: var(--grey-surface);
        box-shadow: var(--drop-shadow);
        width: max-content;
        height: var(--height);
        min-width: 12.5rem;
        min-height: 2.5rem;
        border-radius: 0.5rem;
        display: grid;
        grid-template-rows: auto 1fr;
    }

    #btnClose {
        border-radius: 0 0.5rem 0 0;
    }

    ul {
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
        background: var(--window);
    }

    ul[role="menu"] {
        overflow: auto;
    }

    hr {
        border: var(--border);
        margin: var(--half-margin);
    }

    li:first-child {
        margin-top: var(--half-margin);
    }

    li:last-child {
        margin-bottom: var(--half-margin);
    }

    li {
        height: 2rem;
        padding: 0 var(--half-margin);
        --cl-icon: black;
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;
        border-radius: var(--radius);
    }

    li > *:not(ul) {
        pointer-events: none;
    }

    li[hidden] {
        display: none;
    }

    li:hover {
        background: var(--cl-li-hover)
    }

    li[data-icon]::before {
        content: attr(data-icon);
        font-family: var(--icon-font);
        font-size: 1.2rem;
        margin-right: var(--padding);
        color: var(--cl-icon);
        height: 1.25rem;
        width: 1.25rem;
        margin-left: 0.5rem;
    }

    li[aria-selected="true"]::after {
        content: "check";
        font-family: crsfrw;
        position: absolute;
        right: 0.5rem;
        color: var(--blue);
        font-size: 1rem;
    }

    [aria-hidden="true"] {
        display: none !important;
    }

    #resize {
        position: absolute;
        bottom: 0;
        right: 0;
        fill: gray;
        cursor: nwse-resize;
    }

    #symbols {
        display: none;
    }

    filter-header {
        --close-display: inline-block;
    }

    .submenu {
        position: absolute;
        top: 0;
        display: none;
        border: var(--border);
        background: var(--window);
        box-shadow: var(--drop-shadow);
        width: max-content;
        height: max-content;
        min-width: 12.5rem;
        border-radius: var(--radius);
        z-index: 1;
    }
    .submenu[data-at-viewport-edge = "false"] {
        left: 100%;
    }

    .submenu[data-at-viewport-edge = "true"] {
        right: 100%;
    }

    li[aria-expanded="true"] > .submenu {
        display: block;

    }

    li[aria-expanded="true"] {
        background: var(--blue-s2);
    }

    /*li:hover,li[aria-expanded="true"] {*/
    /*    margin-left: 0.25rem;*/
    /*    margin-right: 0.25rem;*/
    /*}*/

    li:focus, li[aria-expanded="true"]:focus {
        outline: none;
        border-left: 0.25rem solid var(--blue);
    }

    li[aria-expanded="true"]:focus {
        background: var(--blue-s2);
    }

    li:focus {
        background: var(--grey-s3);
    }

    .hierarchy {
        overflow: inherit !important;
    }

    .hierarchy + #resize {
        visibility: hidden;
        pointer-events: none;
    }

    .parent-menu-item:after {
        font-family: var(--icon-font);
        font-size: 1.5rem;
        content: "chevron-right";
        position: absolute;
        right: var(--padding);
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<svg id="symbols">
    <symbol id="resize-handle" viewBox="0 0 32 32">
        <path d="M28.744 6.016c0.766-0.766 0.766-2.008 0-2.774s-2.008-0.766-2.774 0l-22.728 22.728c-0.766 0.766-0.766 2.008 0 2.774s2.008 0.766 2.774 0l22.728-22.728z"></path>
        <path d="M28.759 21.332c0.766-0.766 0.766-2.008 0-2.774s-2.008-0.766-2.774 0l-7.427 7.427c-0.766 0.766-0.766 2.008 0 2.774s2.008 0.766 2.774 0l7.427-7.427z"></path>
    </symbol>
</svg>

<div class="popup" ref="popup">
    <filter-header for="ul"></filter-header>
    <ul ref="container" role="menu" tabindex="0" class="narrow-scrollbar" data-closable="true"></ul>
    <svg id="resize" width="16" height="16">
        <use href="#resize-handle"></use>
    </svg>
</div>
