<!--This is the html file for the SLA visualization component.-->
<link rel="stylesheet" href="/components/sla-visualization/sla-visualization.css">
<div id="grid-parent-container">
    <div id="grid-label-container"></div>
    <div id="sla-grid-container"></div>
</div>

<span id="measurement-name"></span>
<ul id="sla-legend">
    <li id="in-range"><h2 class="sla-legend-labels">${slaLegendInRange} </h2><span></span></li>
    <li id="out-of-range"><h2 class="sla-legend-labels">${slaLegendOutOfRange}</h2> <span></span></li>
    <li id="warning"><h2 class="sla-legend-labels">${slaLegendWarning}</h2><span></span></li>
    <li id="overdue"><h2 class="sla-legend-labels">${slaLegendOverdue}</h2><span></span></li>
</ul>
