:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#sla-grid-container {
    display: none;
    position: relative;
    height: 100%;
    width: 100%;
    border: var(--border);
    overflow: auto;
    padding: 1rem 0;
    grid-column-gap: 0.5rem;
    align-content: center;
}

.status-label {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    position: sticky;
    padding: 0.5rem 0.25rem 0.5rem 3rem;
    color: var(--grey-s1);
    left: 0;
    z-index: 3;
    font-size: 0.75rem;
    height: 2.5rem;
    align-self: center;
}
.status-label:not([data-status-order="undefined"])::before,
.status-label:not([data-status-order="undefined"])::after {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: right;
}

.status-label:not([data-status-order="undefined"])::before {
    content: attr(data-code);
}
.status-label:not([data-status-order="undefined"])::after {
    content: attr(data-description);
}

.status-row {
    border-bottom: var(--border);
    grid-column: 2 / -1;
}

.status-background {
    grid-column: 1;
    grid-row: 1 / -1;
    background: var(--window);
    position: sticky;
    left: 0;
    z-index: 2;
    min-width: 12.5rem;
}

.sla-layer {
    z-index: -1;
    width: 100%;
    background: var(--grey-s3);
    margin-left: 0.25rem;
}

.active-status-label {
    color: var(--blue);
    font-weight: bold;
}

.active-status-row {
    background: var(--blue-s2);
    z-index: 0;
}

.sla-footer-border {
    border-top: 2px solid black;
    border-bottom: none;
    margin-left: 0.5rem;
    box-sizing: border-box;
}

.status-description{
    position: sticky;
    top: 50%;
    left: 0;
    z-index: 3;
    margin-left: 0.5rem;
    writing-mode: vertical-lr;
    font-size: 1rem;
    font-weight: bold;
    color: var(--cl-text);
    rotate: 180deg;
}

#measurement-name{
    /*opacity: 0;*/
    display: none;
    /*position: sticky;*/
    /*left: 50%;*/
    /*bottom: 0;*/
    /*display: flex;*/
    justify-content: center;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--cl-text);
}


/*:host([data-phase="setup"]) {*/
/*    background-color: var(--grey-s4)*/
/*}*/

:host([data-phase="setup"]) .active-status-label {
    color: var(--grey-s1);
    font-weight: normal;
}

:host([data-phase="setup"]) .active-status-row {
    background: transparent;
    z-index: 0;
}

:host([data-phase="setup"]) #sla-legend {
    display: none;
}

:host([data-phase="runtime"]) #sla-legend {
    display: none;
    flex-direction: row;
    list-style-type: none;
    color: var(--grey-s1);
    background-color: var(--grey-s3);
    border-radius: var(--radius);
    padding: 0.5rem;
    justify-content: space-between;
}

:host([data-phase="runtime"]) #sla-legend li {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

:host([data-phase="runtime"]) #sla-legend li::before {
    content: "";
    display: flex;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

:host([data-phase="runtime"]) #sla-legend li span {
    margin-left: 0.5rem;
}

:host([data-phase="runtime"]) #sla-legend li#in-range::before {
    display: flex;
    width: 1rem;
    height: 1rem;
    background-color: var(--blue);
}

:host([data-phase="runtime"]) #sla-legend li#out-of-range::before {
    display: flex;
    width: 1rem;
    height: 1rem;
    background-color: var(--grey-s2);
}

:host([data-phase="runtime"]) #sla-legend li#warning::before {
    display: flex;
    width: 1rem;
    height: 1rem;
    background-color: var(--orange);
}

:host([data-phase="runtime"]) #sla-legend li#overdue::before {
    display: flex;
    width: 1rem;
    height: 1rem;
    background-color: var(--red);
}