<style>
    #calendar {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(7, 1fr);
        justify-items: center;
        align-items: center;
        padding: 0 0.5rem 1rem 0.5rem;
    }

    #calendar [role = 'columnheader'] {
        font-weight: bold;
        font-size: 1.25rem;
        color: var(--grey-s1);
        opacity: 0.8;
        padding-bottom: var(--padding);
    }

    #calendar [role = 'cell'] {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--size);
        height: var(--size);
        font-size: var(--text-size);
        font-weight: bold;
        color: var(--grey);
        border-radius: var(--radius);
    }

    #calendar [role = 'cell']:hover {
        border: var(--border);
        opacity: 1;
        cursor: default;
    }

    .non-current-day {
        opacity: 0.2;
    }

    .todays-date {
        background-color: var(--grey);
        color: white;
    }
</style>

<div id="calendar" role="grid">
    <div role="columnheader">SU</div><div role="columnheader">MO</div><div role="columnheader">TU</div>
    <div role="columnheader">WE</div><div role="columnheader">TH</div><div role="columnheader">FR</div><div role="columnheader">SA</div>

    <div role="cell"></div><div role="cell"></div><div role="cell"></div><div role="cell"></div><div role="cell"></div><div role="cell"></div><div role="cell"></div>
    <div role="cell"></div><div role="cell"></div><div role="cell"></div><div role="cell"></div><div role="cell"></div><div role="cell"></div><div role="cell"></div>
    <div role="cell"></div><div role="cell"></div><div role="cell"></div><div role="cell"></div><div role="cell"></div><div role="cell"></div><div role="cell"></div>
    <div role="cell"></div><div role="cell"></div><div role="cell"></div><div role="cell"></div><div role="cell"></div><div role="cell"></div><div role="cell"></div>
    <div role="cell"></div><div role="cell"></div><div role="cell"></div><div role="cell"></div><div role="cell"></div><div role="cell"></div><div role="cell"></div>
    <div role="cell"></div><div role="cell"></div><div role="cell"></div><div role="cell"></div><div role="cell"></div><div role="cell"></div><div role="cell"></div>
</div>
