<style>
    #months {
        display: grid;
        grid-template: repeat(3, 1fr)/repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        margin-top: 2rem;
        row-gap: 2rem;
    }
    #months > div {
        font-size: 19px;
        font-weight: bold;
        cursor: pointer;
    }
</style>

<div id="months">
    <div value="0">January</div>
    <div value="1">February</div>
    <div value="2">March</div>
    <div value="3">April</div>
    <div value="4">May</div>
    <div value="5">June</div>
    <div value="6">July</div>
    <div value="7">August</div>
    <div value="8">September</div>
    <div value="9">October</div>
    <div value="10">November</div>
    <div value="11">December</div>
</div>