<style>
    #months {
        display: grid;
        grid-template: repeat(3, 1fr)/repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        row-gap: 1rem;
        margin-top: 1rem;
    }

    #months > div {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--grey);
        width: 7rem;
        height: 3rem;
        font-size: var(--text-size);
        font-weight: bold;
        border-radius: var(--radius);
        cursor: pointer;
    }

    #months > div:hover {
        border: var(--border);
    }

    #months > [aria-selected = "true"] {
        color: var(--blue);
        background: var(--blue-s2);
    }

    #months > [aria-selected = "true"]:after {
        content: var(--checked-icon);
        font-family: var(--icon-font-family);
        padding-left: var(--chevron-padding);
    }
</style>

<div id="months" click.setValue="selectMonth = $event.target.dataset.value">
    <div tabindex="-1" data-value="0">January</div>
    <div tabindex="-1" data-value="1">February</div>
    <div tabindex="-1" data-value="2">March</div>
    <div tabindex="-1" data-value="3">April</div>
    <div tabindex="-1" data-value="4">May</div>
    <div tabindex="-1" data-value="5">June</div>
    <div tabindex="-1" data-value="6">July</div>
    <div tabindex="-1" data-value="7">August</div>
    <div tabindex="-1" data-value="8">September</div>
    <div tabindex="-1" data-value="9">October</div>
    <div tabindex="-1" data-value="10">November</div>
    <div tabindex="-1" data-value="11">December</div>
</div>