<style>
    #months {
        display: grid;
        grid-template: repeat(3, 1fr)/repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        grid-gap: 1rem;
        margin-top: 1rem;
    }

    #months > [data-type = "month-cell"] {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--grey);
        width: 6.3rem;
        height: 3rem;
        font-size: var(--text-size);
        border-radius: var(--radius);
    }

    #months > div:hover:not([aria-selected = "true"]) {
        background: var(--grey-s3);
        cursor: pointer;
    }

    #months > [aria-selected = "true"] {
        color: var(--blue);
        background: var(--blue-s2);
        font-weight: bold;
    }

    #months > [aria-selected = "true"]:after {
        content: var(--checked-icon);
        font-family: var(--icon-font-family);
        padding-left: var(--chevron-padding);
        font-weight: bold;
    }
</style>

<div id="months" click.setValue="selectedMonth = $target.dataset.value">
    <div data-type="month-cell" tabindex="-1" data-value="0">&{calendar.january}</div>
    <div data-type="month-cell" tabindex="-1" data-value="1">&{calendar.february}</div>
    <div data-type="month-cell" tabindex="-1" data-value="2">&{calendar.march}</div>
    <div data-type="month-cell" tabindex="-1" data-value="3">&{calendar.april}</div>
    <div data-type="month-cell" tabindex="-1" data-value="4">&{calendar.may}</div>
    <div data-type="month-cell" tabindex="-1" data-value="5">&{calendar.june}</div>
    <div data-type="month-cell" tabindex="-1" data-value="6">&{calendar.july}</div>
    <div data-type="month-cell" tabindex="-1" data-value="7">&{calendar.august}</div>
    <div data-type="month-cell" tabindex="-1" data-value="8">&{calendar.september}</div>
    <div data-type="month-cell" tabindex="-1" data-value="9">&{calendar.october}</div>
    <div data-type="month-cell" tabindex="-1" data-value="10">&{calendar.november}</div>
    <div data-type="month-cell" tabindex="-1" data-value="11">&{calendar.december}</div>
</div>