<style>
    #years {
        display: grid;
        grid-template: repeat(5, 1fr)/repeat(4, 1fr);
        justify-items: center;
        align-items: center;
        width:28rem;
        height: 17rem;
        margin-top: 2rem;
        row-gap: 2rem;
        overflow-y: scroll;
    }

    #years > div {
        font-size: 19px;
        font-weight: bold;
        cursor: pointer;
    }
</style>
<div id="years">
    <div value="2000">2000</div>
    <div value="2001">2001</div>
    <div value="2002">2002</div>
    <div value="2003">2003</div>
    <div value="2004">2004</div>
    <div value="2005">2005</div>
    <div value="2006">2006</div>
    <div value="2007">2007</div>
    <div value="2008">2008</div>
    <div value="2009">2009</div>
    <div value="2010">2010</div>
    <div value="2011">2011</div>
    <div value="2012">2012</div>
    <div value="2013">2013</div>
    <div value="2014">2014</div>
    <div value="2015">2015</div>
    <div value="2016">2016</div>
    <div value="2017">2017</div>
    <div value="2018">2018</div>
    <div value="2019">2019</div>
    <div value="2020">2020</div>
    <div value="2021">2021</div>
    <div value="2022">2022</div>
    <div value="2023">2023</div>
    <div value="2024">2024</div>
    <div value="2025">2025</div>
    <div value="2026">2026</div>
    <div value="2027">2027</div>
    <div value="2028">2028</div>
    <div value="2029">2029</div>
    <div value="2030">2030</div>
    <div value="2031">2031</div>

</div>