<div class="icon progress-bar"></div>
<!--<div class="measurement-info"></div>-->

<!--<template class="measurement-info-template">-->
<!--    <div class="measurement-info">-->
<!--        <span >Code : <span id="sla-code" class="measurement-content">${code}</span></span>-->
<!--        <span > Description : <span id="sla-description" class="measurement-content">${description}</span></span>-->
<!--        <span > Time-Elapsed : <span id="sla-duration" class="measurement-content">${duration}</span></span>-->
<!--    </div>-->
<!--</template>-->

<template class="measurement-info-template">
    <div class="measurement-info">
        <h4>${code}</h4>

        <div class="measurement-status-info">
            <div>Start-Status : <span id="measurement-start" class="measurement-content">${startStatus}</span></div>
            <div>End-Status : <span id="measurement-end" class="measurement-content">${endStatus}</span></div>
        </div>


        <div class="measurement-duration-info">
            <div>Duration :<span id="measurement-duration" class="measurement-content">${duration}</span></div>
            <div>Work Progress : <span id="measurement-progress" class="measurement-content">${progress}</span></div>
        </div>

        <!-- Trigger Container -->
        <div class="measurement-trigger-info">
            <div>Next Trigger : <span id="next-trigger" class="measurement-content">80%</span></div>
            <span>Trigger Description : <span id="trigger-description" class="measurement-content">Warning</span></span>
        </div>
    </div>
</template>