<link rel="stylesheet" href="/components/sla-visualization/sla-measurement/sla-measurement.css">
<div class="icon progress-bar"></div>

<template class="setup-measurement-info-template">
    <div class="measurement-info">
        <h4>${code}</h4>

        <div class="measurement-status-info">
            <div>Start-Status : <span data-id="startStatus" class="measurement-content">${startStatus}</span></div>
            <div>End-Status : <span data-id="endStatus" class="measurement-content">${endStatus}</span></div>
        </div>


        <div class="measurement-duration-info">
            <div>Duration :<span data-id="duration" class="measurement-content">${duration}</span></div>
        </div>

        <div class="measurement-trigger-info">
            <div>Number Of Triggers : <span data-id="numberOfTriggers" class="measurement-content">${numberOfTriggers}</span></div>
        </div>
    </div>
</template>

<template class="runtime-measurement-info-template">
    <div class="measurement-info">
        <h4>${code}</h4>

        <div class="measurement-status-info">
            <div>Start-Status : <span data-id="startStatus" class="measurement-content">${startStatus}</span></div>
            <div>End-Status : <span data-id="endStatus" class="measurement-content">${endStatus}</span></div>
        </div>

        <div class="measurement-duration-info">
            <div>Duration :<span data-id="duration" class="measurement-content">${duration}</span></div>
            <div>Work Progress : <span data-id="progress" class="measurement-content">${progress}</span></div>
        </div>

        <div class="measurement-trigger-info">
            <div>Next Trigger : <span data-id="trigger" class="measurement-content">${trigger}</span></div>
            <div>Trigger Description : <span data-id="triggerDescription" class="measurement-content">${triggerDescription}</span></div>
        </div>
    </div>
</template>