<link rel="stylesheet" href="./../../styles/lib/input.css">

<template id="tplDefaultItem">
    <option value.attr="value">${text}</option>
</template>

<header keyup.call="search">
    <input
        id="search"
        type="search"
        value.bind="searchText"
    />

    <button id="btnClear" click.call="clear" hidden.if="value == null">clear</button>

    <button
        id="btnDropdown"
        aria-haspopup="true"
        aria-expanded="false"
        click.call="showOptions(true)">chevron-down</button>
</header>

<ul
    class="hide"
    click.classlist.toggle="[ul](hide, red)"
    click.call="select">
</ul>