@import "./../../components/block-editor/styles/group-box.css";
@import "./../../components/block-editor/styles/designer-marker.css";

crs-router {
    display: grid;
    grid-template-columns: 1fr 300px 300px;
}

crs-router h2 {
    color: blue;
}

crs-router .column1 {
    display: grid;
    grid-template-rows: auto auto 1fr;
}

crs-router .canvas {
    border: 1px solid silver;
}

crs-router [data-code] {
    border: 1px solid silver;
}

crs-router block-properties {
    display: block;
    border: 1px solid silver;
    background: white;
    width: 100%;
    height: 100%;
}

crs-router toolbar {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
}

crs-router pre {
    overflow: auto;
}