@import "./../../components/block-editor/styles/group-box.css";

crs-router {
    display: grid;
    grid-template-rows: auto auto 1fr;
}


crs-router h2 {
    color: blue;
}

crs-router .canvas {
    border: 1px solid silver;
    display: grid;
}

crs-router [data-code] {
    border: 1px solid silver;
}

crs-router block-properties {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    border: 1px solid silver;
    background: white;
}