.header-overlay {
    --header-height: 32px;
    --header-top: 0;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    translate: 0 var(--header-top);
    background: red;
    display: none;
}

.header-overlay.visible {
    display: block;
}

.header-overlay .columns-control {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    translate: -10000px -10000px;
}