.header-overlay {
    --header-height: 32px;
    --header-top: 0;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    translate: 0 var(--header-top);
}

.header-overlay.visible {
    display: block;
}

.header-overlay .columns-control {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    translate: -10000px -10000px;
    will-change: transform;
}

.resize {
    display: block;
    height: var(--header-height);
    width: 0.25rem;
    border-width: 0 1px;
    border-style: solid;
    border-color: var(--grey);
    cursor: col-resize;
    box-sizing: border-box;
}