<!--SLA-LAYER-HTML-->
<link rel="stylesheet" href="/components/sla-visualization/sla-layer/sla-layer.css">
<template class="sla-header-template">
    <div class="sla-header-container">
        <span class="sla-header-label-container">
            <span>${codeLabel} : </span><span id="sla-code" class="sla-header-content">${code}</span>
        </span>
        <span>
            <span>${descriptionLabel} : </span><span id="sla-description" class="sla-header-content">${description}</span>
        </span>
        <span >
            <span>${timeElapsedLabel} : </span><span id="sla-duration" class="sla-header-content">${duration}</span>
        </span>
    </div>
</template>
