<!--SLA-LAYER-HTML-->
<link rel="stylesheet" href="/components/sla-visualization/sla-layer/sla-layer.css">
<template class="sla-header-template">
    <div class="sla-header-container">
        <span id="label-container">
            <span class="sla-header-label">${codeLabel} : </span>
            <span class="sla-header-label">${descriptionLabel} : </span>
            <span class="sla-header-label">${mainMeasurePercentageLabel}</span>
        </span>
        <span id="label-content-container">
            <span id="sla-code" class="sla-header-content">${code}</span>
            <span id="sla-description" class="sla-header-content">${description}</span>
            <span id="sla-duration" class="sla-header-content">${duration}</span>
        </span>
    </div>
</template>
