.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#sla-container, #sla-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 4rem 0;
}

#sla-layer-grid {
    position: relative;
    display: grid;
    height: 400px;
    width: 400px;
    border: 1px solid black;
    padding: 0.5rem;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas:
        "status sla_1001 sla_1002 sla_1003"
        "status sla_1001 sla_1002 sla_1003"
        "status sla_1001 sla_1002 sla_1003"
        "status sla_1001 sla_1002 sla_1003"
        "status sla_1001 sla_1002 sla_1003"
        "status sla_1001 sla_1002 sla_1003"
        "status sla_1001 sla_1002 sla_1003"
        "status sla_1001 sla_1002 sla_1003"
        "status sla_1001 sla_1002 sla_1003"
        "status sla_1001 sla_1002 sla_1003";
}

/* Define grid areas for specific elements */

#sla_1001 {
    grid-area: sla_1001;
}

#sla_1002 {
    grid-area: sla_1002;
}

#sla_1003 {
    grid-area: sla_1003;
}