<style>
    * {
        box-sizing: border-box;
    }

    :host {
        --size: 3rem;
        --text-size: 1.1875rem;

        display: grid;
        grid-template-rows: auto 1fr;
        width: 28rem;
        height: 28rem;
        box-shadow: var(--cl-border) 0 0.125rem 0.5rem 0;
        border: 1px solid rgba(99, 99, 99, 0.2);
        border-radius: 3%;
        margin: 3rem;
        outline: none;
    }

    #calendar-toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        padding: 1rem 1rem 0 1rem;
    }

    #calendar-toolbar select {
        cursor: pointer;
        text-align: center;
        font-size: var(--text-size);
        font-weight: bold;
        border-radius: 0.5rem;
        border: none;
    }

    #calendar-toolbar button {
        background: transparent;
        width: var(--size);
        height: var(--size);
        font-size: 1.875rem;
        font-weight: bold;
        cursor: pointer;
        border: none;

    }

    #calendar {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(7, 1fr);
        justify-items: center;
        align-items: center;
        padding: 0 0.8rem 0.8rem 0.8rem;
    }

    #calendar [role = 'columnheader'] {
        font-weight: bold;
        font-size: 1.25rem;
        color: rgba(99, 99, 99, 0.7);
        padding-bottom: 0.2rem;
    }

    #calendar [role = 'cell'] {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--size);
        height: var(--size);
        font-size: var(--text-size);
        font-weight: bold;
        color: rgba(0, 0, 0, 0.8);
        border-radius: 0.4rem;
    }

    #calendar [role = 'cell']:hover {
        border: 1px solid black;
        opacity: 1;
        cursor: default;
    }

    .non-current-day {
        opacity: 0.2;
    }

    .todays-date {
        background-color: black;
        color: white;
    }

</style>

<template id="tplCell">
    <div role="cell" data-date="${date}"  classlist.if="current == false ? 'non-current-day' : 'test'">${number}</div>
</template>

<div id="calendar-toolbar" role="toolbar">
    <button id="previous-month" aria-label="previous month button"><</button>
    <select value.bind="selectedView">
        <option value="default">default</option>
        <option value="view1">Month</option>
        <option value="view2">Year</option>
    </select>
    <select>
        <option>2022</option>
    </select>
    <button id="next-month" aria-label="next month button">></button>
</div>

<perspective-element view.bind="selectedView" ctx.once="contextId" data-folder="/components/calendar/" view-loaded.call="viewLoaded">
    <template data-id="default" data-default="true">
        <template src="./templates/days.html"></template>
    </template>
    <template data-id="view1">
        <template src="./templates/months.html"></template>
    </template>
    <template data-id="view2">
        <template src="./templates/years.html"></template>
    </template>
</perspective-element>