<style>
    * {
        box-sizing: border-box;
    }

    :host {
        --size: 3rem;
        --text-size: 1.1875rem;

        display: grid;
        grid-template-rows: auto 1fr;
        width: 27rem;
        height: 27rem;
        margin: 3rem;
        box-shadow: var(--grey-s2) 0 0.125rem 0.5rem 0;
        border: var(--border);
        border-radius: 3%;
        outline: none;
    }

    #calendar-toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        padding: var(--padding);
    }

    #calendar-toolbar #previous-month, #next-month {
        background: transparent;
        width: var(--size);
        height: var(--size);
        font-size: 1.875rem;
        font-weight: bold;
        cursor: pointer;
        border: none;
    }

    #calendar-toolbar #month, #year {
        background: transparent;
        height: var(--size);
        text-align: center;
        font-size: var(--text-size);
        font-weight: bold;
        cursor: pointer;
        border-radius: var(--radius);
        border: none;
    }

    #calendar-toolbar #year {
        width: 5rem;
    }

    #calendar-toolbar #month{
        width: 7rem;
    }

    .current-view {
        color: var(--cl-primary-alt);
        background: var(--blue) !important;
    }

</style>

<template id="tplCell">
    <div role="cell" data-date="${date}" classlist.case="current == false: 'non-current-day', new Date().toLocaleDateString() == date.toLocaleDateString(): 'today'">${number}</div>
</template>

<div id="calendar-toolbar" role="toolbar">
    <button id="previous-month" aria-label="previous month button" click.call="goToPreviousMonth"><</button>
    <button id="month" value="months" click.call="setMonthView" classlist.if="selectedView == 'months' ? 'current-view'">${month}</button>
    <button id="year" value="years" click.call="setYearView" classlist.if="selectedView == 'years' ? 'current-view'">${year}</button>
    <button id="next-month" aria-label="next month button" click.call="goToNextMonth">></button>
</div>

<perspective-element view.bind="selectedView" ctx.once="contextId" data-folder="/components/calendar/" view-loaded.call="viewLoaded">
    <template data-id="default" data-default="true">
        <template src="./templates/days.html"></template>
    </template>
    <template data-id="months">
        <template src="./templates/months.html"></template>
    </template>
    <template data-id="years">
        <template src="./templates/years.html"></template>
    </template>
</perspective-element>