<style>
    :host {
        display: grid;
        box-sizing: border-box;
        padding: var(--padding);
        width: 100%;
        max-width: 400px;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        grid-template-areas: "title title"
                             "input buttons"
    }

    :host(.inline) {
        max-width: 450px;
        grid-template-columns: 1fr var(--input-width) auto;
        grid-template-rows: auto auto;
        grid-template-areas: "title input buttons"
    }

    :host(.inline) #title {
        display: flex;
        align-items: center;
    }

    ::slotted(input) {
        grid-area: input;
    }

    ::slotted(buttons) {
        grid-area: buttons;
    }

    ::slotted(button) {
        height: var(--input-height);
        width: var(--input-height);
    }

    i {
        grid-area: input;
        background: blue;
        width: 32px;
        z-index: 1;
        justify-self: flex-end;
    }
</style>

<div id="title"></div>
<slot name="input"></slot>
<i></i>
<slot name="buttons"></slot>
<slot name="descriptor"></slot>