<style>
    :host {
        display: block;
    }

    :focus{
        outline: var(--double-border-width) solid var(--blue);
    }


    .icon {
        font-family: crsfrw;
        font-size: var(--icon-size);
    }


    button.ew-resize {
        cursor: ew-resize;
    }


    table {
        width: 100%;
        border-collapse: collapse;
        border: var(--border);
    }

    thead tr#tableHeader {
        height: 38px;
        border: var(--border);
        background-color: var(--grey-s3);
        font-size: 16px;
        font-weight: bold;
    }

    thead th {
        border: var(--border);
        padding: 0 var(--padding);
        text-align: left;
    }

   .scrollable {
       overflow-y: auto;
       max-height: 200px;
   }

    tbody tr td {
        border: var(--border);
        padding: var(--padding);
    }

    tr[aria-selected="true"] {
        background-color: var(--blue-s1);
        border: var(--double-border-width) solid var(--blue);
    }

    :focus[aria-selected="true"] {
        outline: var(--double-border-width) solid var(--blue);
    }


    th {
        position: relative;
        text-align: left;
    }

    th button {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        margin-left: 1rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: var(--padding);
    }

    button#filter-btn {
        margin-right: 30px;
    }

</style>

<table>
    <thead>
        <tr id="tableHeader"></tr>
    </thead>
    <tbody class="scrollable"></tbody>
</table>
