.icon {
    font-family: crsfrw;
    font-size: 1rem;
    color: #0098E0;
    padding: var(--padding);
}

#submit-random{
    width: fit-content;
    margin-top: 10px;
}

hr {
    color: silver;
}

.custom-header {
    color: red;
    font-style: italic;
}

group-box#box-6 {
    --header-bg:var(--red-s2);
    --header-height: 40px;
}

group-box#box-6 .icon{
    color: #76C422;
    font-size: 24px;
}