<li data-tags="button">
    <img src="/assets/designer/button.svg" alt="button svg">
    <div>Button</div>
</li>
<li data-tags="date-time">
    <img src="/assets/designer/date-time.svg" alt="date and time svg">
    <div>Date & Time</div>
</li>
<li data-tags="group">
    <img src="/assets/designer/group.svg" alt="group svg">
    <div>Group</div>
</li>
<li data-tags="hidden-input">
    <img src="/assets/designer/hidden-input.svg" alt="hidden input svg">
    <div>Hidden Input</div>
</li>
<li data-tags="image">
    <img src="/assets/designer/image.svg" alt="image svg">
    <div>Image</div>
</li>
<li data-tags="link">
    <img src="/assets/designer/link.svg" alt="link svg">
    <div>Link</div>
</li>
<li data-tags="number-input">
    <img src="/assets/designer/number-input.svg" alt="number input svg">
    <div>Number Input</div>
</li>
<li data-tags="tab">
    <img src="/assets/designer/tab.svg" alt="tab svg">
    <div>Tab</div>
</li>
<li data-tags="text-input">
    <img src="/assets/designer/text-input.svg" alt="text input svg">
    <div>Text Input</div>
</li>
<li data-tags="toolbar">
    <img src="/assets/designer/toolbar.svg" alt="toolbar svg">
    <div>Toolbar</div>
</li>