<!--<style>-->
<!--    designer-repo-test {-->
<!--        display: grid;-->
<!--        grid-template-rows: 60px auto;-->
<!--        height: 450px;-->
<!--        width: 400px;-->
<!--        border: 2px solid silver;-->
<!--        border-radius: 10px;-->
<!--        background-color: #F4F4F4;-->
<!--        position: relative;-->
<!--        user-select: none;-->
<!--        filter: drop-shadow(0px 0px 5px #00000080);-->
<!--    }-->

<!--    designer-repo-test [role="toolbar"] {-->
<!--        display: flex;-->
<!--        flex-direction: row;-->
<!--        align-items: center;-->
<!--        padding: 0 0.5rem;-->
<!--        border-bottom: 1px solid silver;-->
<!--    }-->

<!--    designer-repo-test [role="toolbar"] .spacer {-->
<!--        display: flex;-->
<!--        height: 100%;-->
<!--        width: 2px;-->
<!--        border-right: 1px solid silver;-->
<!--        margin: 0.25rem;-->
<!--    }-->

<!--    designer-repo-test .text-input {-->
<!--        height: 24px;-->
<!--        font-size: 18px;-->
<!--        border: none;-->
<!--        font-style: italic;-->
<!--        background-color: transparent;-->
<!--        outline: none;-->
<!--    }-->

<!--    ::placeholder {-->
<!--        color: grey;-->
<!--        opacity: 0.5;-->
<!--    }-->

<!--    designer-repo-test input:focus {-->
<!--        border: none;-->
<!--    }-->

<!--    designer-repo-test .icon {-->
<!--        width: 24px;-->
<!--        height: 24px;-->
<!--        border: none;-->
<!--    }-->

<!--    designer-repo-test .filter {-->
<!--        scale: 0.8;-->
<!--    }-->

<!--    designer-repo-test [role="toolbar"] button {-->
<!--        border: 0;-->
<!--        width: 3rem;-->
<!--        padding-top: 0.2rem;-->
<!--        height: 80%;-->
<!--    }-->

<!--    designer-repo-test [aria-pressed="true"] {-->
<!--        background: #267FD8;-->
<!--        fill: white;-->
<!--    }-->

<!--    designer-repo-test .round-left {-->
<!--        border-radius: 5px 0 0 5px;-->
<!--    }-->

<!--    designer-repo-test .round-right {-->
<!--        border-radius: 0 5px 5px 0;-->
<!--    }-->

<!--    designer-repo-test ul {-->
<!--        padding: 0.7rem;-->
<!--        overflow: auto;-->
<!--        background-color: white;-->
<!--    }-->

<!--    designer-repo-test ul.list {-->
<!--        margin: 0 5px 0 0;-->
<!--    }-->

<!--    designer-repo-test ul.list li {-->
<!--        border-bottom: 1px solid #D5D5D5;-->
<!--        padding: 0.5rem 0;-->
<!--        margin: 0 0.5rem;-->
<!--        list-style: none;-->
<!--    }-->

<!--    designer-repo-test ul.grid {-->
<!--        display: grid;-->
<!--        grid-template-columns: repeat(auto-fill, 110px);-->
<!--        grid-template-rows: repeat(auto-fill, 110px);-->
<!--        gap: 0.5rem;-->
<!--        margin: 0 5px 0 0;-->
<!--    }-->

<!--    designer-repo-test ul.grid li {-->
<!--        display: flex;-->
<!--        flex-direction: column;-->
<!--        border: 1px solid #D5D5D5;-->
<!--        border-radius: 5px;-->
<!--        align-items: center;-->
<!--        background-color: white;-->
<!--    }-->

<!--    designer-repo-test .scrollbar::-webkit-scrollbar-track {-->
<!--        padding: 2px 0;-->
<!--        background-color: transparent;-->
<!--    }-->

<!--    designer-repo-test .scrollbar::-webkit-scrollbar {-->
<!--        width: 5px;-->
<!--    }-->

<!--    designer-repo-test .scrollbar::-webkit-scrollbar-thumb {-->
<!--        border-radius: 10px;-->
<!--        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);-->
<!--        background-color: transparent;-->
<!--    }-->

<!--    designer-repo-test ul.grid img {-->
<!--        display: flex;-->
<!--        height: 100px;-->
<!--        width: 100px;-->
<!--    }-->

<!--    designer-repo-test .resize {-->
<!--        position: absolute;-->
<!--        right: 0.5rem;-->
<!--        bottom: 0.5rem;-->
<!--        cursor: nwse-resize;-->
<!--        scale: 0.6;-->
<!--    }-->
<!--</style>-->
<style>
    designer-repo {
        display: grid;
        grid-template-rows: 60px auto;
        height: 450px;
        width: 400px;
        border: 2px solid silver ;
        border-radius: 10px;
        background: #f4f4f4;
        position: relative;
        user-select: none;
        filter: drop-shadow(0px 0px 5px #00000080);
    }

    designer-repo [role="toolbar"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 0.5rem;
        border-bottom: 1px solid silver;
    }

    designer-repo [role="toolbar"] .spacer {
        display: flex;
        height: 100%;
        width: 2px;
        border-right: 1px solid silver;
        margin: 0.25rem;
    }

    designer-repo .text-input {
        height: 24px;
        font-size: 18px;
        border: none;
        margin: 5px;
        flex: 1;
        border: none;
        font-style: italic;
        background-color: transparent;
        outline: none;
    }

    ::placeholder {
        color: gray;
        opacity: 0.5;
    }

    designer-repo input:focus {
        border: none;
    }

    designer-repo .icon {
        width: 24px;
        height: 24px;
        border: none;
    }

    designer-repo .filter {
        scale: 0.8;
    }

    designer-repo [role="toolbar"] button {
        border: 0;
        width: 3rem;
        padding-top: 0.2rem;
        height: 80%;
    }

    designer-repo [aria-pressed="true"] {
        background: #267FD8;
        fill: white;
    }

    designer-repo .round-left {
        border-radius: 5px 0 0 5px;
    }

    designer-repo .round-right {
        border-radius: 0 5px 5px 0;
    }

    designer-repo ul {
        padding: 0.7rem;
        overflow: auto;
        background-color: white;
    }

    designer-repo ul.list {
        margin: 0 5px 0 0;
    }

    designer-repo ul.list li {
        border-bottom: 1px solid #D5D5D5;
        padding: 0.5rem 0 ;
        margin: 0 0.5rem;
        list-style: none;
    }

    designer-repo ul.grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 110px);
        grid-template-rows: repeat(auto-fill, 110px);
        gap: 0.5rem;
        margin: 0 5px 0 0;
    }

    designer-repo ul.grid li:not([hidden]) {
        display: flex;
        flex-direction: column;
        border: 1px solid #D5D5D5;
        border-radius: 5px;
        align-items: center;
        background-color: white;
    }

    designer-repo .scrollbar::-webkit-scrollbar-track {
        padding: 2px 0;
        background-color: transparent;
    }

    designer-repo .scrollbar::-webkit-scrollbar {
        width: 5px;
    }

    designer-repo .scrollbar::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: transparent;
    }

    designer-repo ul.grid img {
        display: flex;
        height: 100px;
        width: 100px;
    }

    designer-repo .resize {
        position: absolute;
        right: 0.5rem;
        bottom: 0.5rem;
        cursor: nwse-resize;
        scale: 0.6;
    }

</style>

<svg display="none" viewBox="0 0 10 10">
    <symbol id="filter" >
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M8.986 13.5V21c0 1.65 1.356 3 3.014 3 1.658 0 3.015-1.35 3.015-3v-7.5s5.17-6.615 8.666-11.085c.77-.99.06-2.415-1.205-2.415H1.51C.259 0-.45 1.425.319 2.415 3.816 6.885 8.986 13.5 8.986 13.5Zm-7.473-12 5.64 7.213 3.022 3.865-1.19.922 1.19-.92.318.405V21c0 .822.682 1.5 1.507 1.5.826 0 1.507-.678 1.507-1.5v-8.015l.318-.406 3.022-3.866 5.64-7.213H1.513Z"/>
    </symbol>

    <symbol id="list">
        <path d="M1.946 10C.869 10 0 10.893 0 12s.87 2 1.946 2c1.077 0 1.946-.893 1.946-2s-.87-2-1.946-2Zm0-8C.869 2 0 2.893 0 4s.87 2 1.946 2c1.077 0 1.946-.893 1.946-2s-.87-2-1.946-2Zm0 16C.869 18 0 18.907 0 20s.882 2 1.946 2 1.946-.907 1.946-2-.87-2-1.946-2Zm5.19 3.333h15.567c.713 0 1.297-.6 1.297-1.333s-.584-1.333-1.297-1.333H7.135c-.713 0-1.297.6-1.297 1.333s.584 1.333 1.297 1.333Zm0-8h15.567c.713 0 1.297-.6 1.297-1.333s-.584-1.333-1.297-1.333H7.135c-.713 0-1.297.6-1.297 1.333s.584 1.333 1.297 1.333ZM5.837 4c0 .733.584 1.333 1.297 1.333h15.568C23.416 5.333 24 4.733 24 4s-.584-1.333-1.297-1.333H7.135c-.713 0-1.297.6-1.297 1.333Z"/>
    </symbol>

    <symbol id="grid">
        <path d="M24 21.333V2.667C24 1.2 22.8 0 21.333 0H2.667A2.675 2.675 0 0 0 0 2.667v18.666C0 22.8 1.2 24 2.667 24h18.666C22.8 24 24 22.8 24 21.333ZM7.867 14.64l2.8 3.373 4.133-5.32a.67.67 0 0 1 1.067.014l4.68 6.24a.666.666 0 0 1-.534 1.066H4.027a.664.664 0 0 1-.52-1.08l3.32-4.266a.658.658 0 0 1 1.04-.027Z"/>
    </symbol>

    <symbol id="resize">
        <g clip-path="url(#a)">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M23.482 3.016A1.767 1.767 0 0 0 20.984.517L.517 20.984a1.767 1.767 0 0 0 2.499 2.498L23.482 3.016Zm.013 13.792a1.766 1.766 0 1 0-2.498-2.498l-6.687 6.687a1.766 1.766 0 1 0 2.498 2.498l6.687-6.687Z"
                  fill="gray"/>
        </g>
        <defs>
            <clipPath id="a">
                <path d="M0 0h24v24H0z"/>
            </clipPath>
        </defs>
    </symbol>
</svg>

<div role="toolbar">
    <svg id="filter-btn" class="icon filter" >
        <use href="#filter"></use>
    </svg>
    <input data-id="text-input" class="text-input" type="text" aria-label="filter-text" placeholder="Type To Filter Widget"
           value.bind="filter"/>
    <div class="spacer"></div>
    <button data-id="grid-btn" class="round-left" aria-pressed.if="displayStatus == 'grid' ? true : false"
            click.setvalue="displayStatus = 'grid'">
        <svg class="icon">
            <use href="#grid"></use>
        </svg>
    </button>
    <button data-id="list-btn" class="round-right" click.setvalue="displayStatus = 'list'"
            aria-pressed.if="displayStatus == 'list' ? true : false">
        <svg class="icon">
            <use href="#list"></use>
        </svg>
    </button>
</div>
<ul data-id="display" ref="container" classList.if="displayStatus == 'grid' ? 'grid' : 'list'" class="scrollbar">
</ul>
<svg class="icon resize">
    <use href="#resize"></use>
</svg>
