<link rel="stylesheet" href="../../packages/leaflet/leaflet.css">

<style>
    :host {
        display: block;
        height: 100%;
        width: 100%;
    }

    #map {
        height: 100%;
        width: 100%;
        cursor: default;
    }

    .point {
        font-family: crsfrw;
        font-size: 2rem;
        font-weight: 500;
        color: #E00000;
        text-shadow: 0px 0px 5px white;
        /*This is important for vertical centering of icon*/
        line-height: 2rem;
        min-width: 2rem;
    }

    .point.selected {
        color: var(--cl-primary);
    }

    .handle[data-type="draghandle"] {
        background: var(--cl-primary-alt);
        border: var(--border);
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        border: 0.125rem solid var(--cl-primary);
        box-sizing: border-box;
    }

    .handle[data-type="subdivide"] {
        background: var(--cl-primary-alt);
        border: var(--border);
        height: 0.75rem;
        width: 0.75rem;
        border-radius: 50%;
        border: 0.125rem solid var(--cl-primary);
        margin: 0.125rem;
        box-sizing: border-box;
    }

    .leaflet-control-zoom {
        display: flex;
        flex-direction: row-reverse;
    }
</style>
<div id="map"></div>
