<link rel="stylesheet" href="../../packages/leaflet/leaflet.css">

<style>
    :host {
        display: block;
        height: 100%;
        width: 100%;
    }

    #map { height: 100%; }

    .icon {
        font-family: crsfrw;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: 500;
        color: red;
        /* The line height is very important for marker placement*/
        line-height: 1rem;
    }
</style>
<div id="map"></div>
