<style>
    interactive-map {
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
    }

    interactive-map #map {
        height: 100%;
        width: 100%;
        cursor: default;
    }

    interactive-map .point {
        font-family: crsfrw;
        font-size: 2rem;
        font-weight: 500;
        color: #E00000;
        text-shadow: 0px 0px 5px white;
        /*This is important for vertical centering of icon*/
        line-height: 2rem;
        min-width: 2rem;
    }

    interactive-map .point.selected {
        color: var(--cl-primary);
    }

    interactive-map .handle[data-type="draghandle"] {
        background: var(--cl-primary-alt);
        border: var(--border);
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        border: 0.125rem solid var(--cl-primary);
        box-sizing: border-box;
    }

    interactive-map .handle[data-type="subdivide"] {
        background: var(--cl-primary-alt);
        border: var(--border);
        height: 0.75rem;
        width: 0.75rem;
        border-radius: 50%;
        border: 0.125rem solid var(--cl-primary);
        margin: 0.125rem;
        box-sizing: border-box;
    }

    interactive-map .leaflet-control-zoom {
        display: flex;
        flex-direction: row-reverse;
    }

    /* Make the slotted drawing tools appear at the top right of the map */
    interactive-map #drawing-tools {
        margin: var(--margin);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1000;
    }

    interactive-map [aria-hidden="true"] {
        display: unset !important;
    }

    interactive-map .leaflet-control-attribution a {
        display: unset  !important;
        font-size: unset  !important;
    }

</style>
<div id="map"></div>
<div id="drawing-tools"></div>